body {
  padding: 10px;
  background: lightgray;
}
input, textarea {
  display: block;
}
.input, textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
textarea {
  font-family: Candara, sans-serif;
}
.tombol {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
}